<template>
    <div class="container">
        <h1 class="text-center">Products List</h1>
        <hr>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" @click="modify = false ;openModal()">
            <i class="fas fa-plus"></i> Add
        </button>

        <!-- Modal -->
        <div class="modal fade" :class="{show: modal}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{titelModal}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" @click="closeModal()">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" v-model="product.name">
                    </div>
                    <div class="form-group">
                        <label for="slug">Slug</label>
                        <input type="text" class="form-control" id="slug" v-model="product.slug">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" v-model="product.price">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3" v-model="product.description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="closeModal()" >Close</button>
                    <button type="button" class="btn btn-primary" @click="save(product)">Save</button>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 my-4">
                <table class="table table-striped">
                    <thead class="thead-dark"> 
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Slug</th>
                        <th scope="col">Price</th>
                        <th scope="col" colspan="2" class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="pro in products" :key="pro.id">
                            <th>{{pro.id}}</th>
                            <td>{{pro.name}}</td>
                            <td>{{pro.slug}}</td>
                            <td> <i class="fas fa-dollar-sign"></i> {{pro.price}}</td>
                            <td><button class="btn btn-warning" @click="modify = true ;openModal(pro)"><i class="fas fa-edit"> Edit</i></button></td>
                            <td><button class="btn btn-danger" @click="erase(pro.id)"><i class="fas fa-trash-alt"> Erase</i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
               products: [],
               titelModal: '',
               modal: 0, 
               modify: true,
               product: {
                   name: '',
                   slug: '',
                   price: '',
                   description: '',
                   status: 1
               },
               id: 0,
            }
        },
        created() {
           
        },
        methods: {
            // Lsito of the products in the data base
            async listProducts(){
                const response = await axios.get('/api/products');
                this.products = response.data;
            },
            // Erase a product from the data base 
            async erase(id){
                const response = await axios.delete('/api/products/'+id)
                this.listProducts();
            },
            // Open the modal with the mode Edit or new Product 
            openModal(data= {}){
                this.modal = 1;
                this.titelModal = this.modify ? 'Modify Product' : 'Add Product';
                if(this.modify){
                    this.id = data.id;
                    this.product.name = data.name;
                    this.product.slug = data.slug;
                    this.product.price = data.price;
                    this.product.description = data.description;
                }else{
                    this.id = 0;
                    this.product.name = '';
                    this.product.slug ='';
                    this.product.price = '';
                    this.product.description = '';
                }
            },
            // Close de modal 
            closeModal() {
                this.modal = 0;
            },
            async save(){
                if(this.modify){
                    const response = await axios.put('/api/products/'+ this.id, this.product) // crea a new Product
                }else{
                    const response = await axios.post('/api/products', this.product) // Edit a Product 
                }
                this.closeModal();
                this.listProducts();
            }
        },
        mounted() {
            this.listProducts();
        }
    }
</script>
<style lang="scss">
    .show{
        display: list-item;
        opacity: 1;
        background-color: rgba(24, 19, 19, 0.795);
    }
</style>