<template>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Modules for Admin</h2>
                <router-link to="/admin/users" class="btn btn-success">Users</router-link>
                <router-link to="/admin/products" class="btn btn-success">Products</router-link>
            </div>
            <div class="col-md-6">
                <h2>Info Admin</h2>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Name: {{user.data.name}}</li>
                    <li><span class="fa-li"><i class="fas fa-chevron-right"></i></span>Email: {{user.data.email}}</li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
               user: {},
            }
        },
        mounted() {
            // Verify if the token exist 
            if(localStorage.token){
                const token = localStorage.token
                axios.post('http://127.0.0.1:8000/api/user', {},
                        {headers: { Authorization: `Bearer ${token}` }})
                        .then(response => this.user = response)
            }else{
                window.location.href = '/';
            }
        },
        methods: {
            
        }
    }
</script>