<template>
    <div class="container">
        <h1 class="text-center">Uers List</h1>
        <hr>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" @click="modify = false ;openModal()">
            <i class="fas fa-plus"></i> Add
        </button>

        <!-- Modal -->
        <div class="modal fade" :class="{show: modal}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{titelModal}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" @click="closeModal()">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" v-model="user.name">
                    </div>
                    <div class="form-group">
                        <label for="slug">email</label>
                        <input type="email" class="form-control" id="slug" v-model="user.email">
                    </div>
                    <div class="form-group">
                        <label for="price">password</label>
                        <input type="password" class="form-control" id="price" v-model="user.password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="closeModal()" >Close</button>
                    <button type="button" class="btn btn-primary" @click="save(user)">Save</button>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 my-4">
                <table class="table table-striped">
                    <thead class="thead-dark"> 
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col" colspan="2" class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="pro in users" :key="pro.id">
                            <th>{{pro.id}}</th>
                            <td>{{pro.name}}</td>
                            <td>{{pro.email}}</td>
                            <td><button class="btn btn-warning" @click="modify = true ;openModal(pro)"><i class="fas fa-edit"> Edit</i></button></td>
                            <td><button class="btn btn-danger" @click="erase(pro.id)"><i class="fas fa-trash-alt"> Erase</i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
               users: [],
               titelModal: '',
               modal: 0, 
               modify: true,
               user: {
                   name: '',
                   email: '',
                   password: ''
               },
               id: 0,
            }
        },
        created() {
           
        },
        methods: {
            // List all the user in the data base
            async listUsers(){
                const response = await axios.get('/api/users');
                this.users = response.data;
            },
            // Erase a user 
            async erase(id){
                const response = await axios.delete('/api/users/'+id)
                this.listUsers();
            },
            // Open modal with mode edit or create new user 
            openModal(data= {}){
                this.modal = 1;
                this.titelModal = this.modify ? 'Modify User' : 'Add User';
                if(this.modify){
                    this.id = data.id;
                    this.user.name = data.name;
                    this.user.email = data.email;
                    this.user.password = data.password;
                }else{
                    this.id = 0;
                    this.user.name = '';
                    this.user.email ='';
                    this.user.password = '';
                }
            },
            // Close modal
            closeModal() {
                this.modal = 0;
            },
            async save(){
                if(this.modify){
                    const response = await axios.put('/api/users/'+ this.id, this.user) // Create a new user 
                }else{
                    const response = await axios.post('/api/users', this.user) // Edir an user 
                }
                this.closeModal();
                this.listUsers();
            }
        },
        mounted() {
            this.listUsers();
        }
    }
</script>
<style lang="scss">
    .show{
        display: list-item;
        opacity: 1;
        background-color: rgba(24, 19, 19, 0.795);
    }
</style>