<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm fixed-top">
        <div class="container">
            <router-link class="navbar-brand" to="/">WebForce</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">
                    <router-link to="/" class="btn btn-light">Home</router-link>
                    <li>
                        <router-link to="/checkout" class="btn btn-link" >
                            <i class="fas fa-shopping-cart"></i>
                            <span class="badge badge-light">{{$store.state.counter}}</span>
                        </router-link>
                    </li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto" v-if="isLogedin">
                    <li><router-link to="/admin" class="btn btn-light" >Admin</router-link></li>
                    <li><button class="btn btn-link" v-on:click="logout()"><i class="fas fa-sign-out-alt"></i></button></li>
                </ul>
                <ul class="navbar-nav ml-auto" v-else>
                    <li><router-link to="/login" class="btn btn-warning" >Login for members</router-link></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="body">
        <router-view></router-view>
    </div>
    <div class="footer bg-white shadow-sm">
        <p>WebForce</p>
    </div>
</div>
</template>
<script>
    export default {
        data(){
            return {
                isLogedin: false,
                products: 0,
            }
        },
        created() {
           
        },
        methods: {
            // Log out session erasing the token 
           logout(){
                const token = localStorage.token
                if(localStorage.token){
                    localStorage.removeItem('token')
                    axios.post('http://127.0.0.1:8000/api/logout', {},
                        {headers: { Authorization: `Bearer ${token}` }})
                    window.location.href = '/';
                }             
           }
        },
        mounted() {
            // Verify if the token exist 
            this.isLogedin = (localStorage.token) ?  true : false;
            console.log(process.env.VUE_APP_ENV_VARIABLE)
        },
        watch: {
            status() {
                $this.products = this.store.state.products.lenght;
            }
        }
    }
</script>
<style lang="scss" scoped>
    #body{
        margin: 6rem 0;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        p{
            color: black;
            margin: 1rem;;
        }
    }
</style>