<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <span>Items in your Cart </span>
                    <div class="row">
                        <div class="col-md-12 p-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>QUANTITY</th>
                                        <th>PRODUCT</th>
                                        <th>UNIT PRICE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="pro in $store.state.products" :key="pro.id">
                                        <td>1</td>
                                        <td>{{pro.name}}</td>
                                        <td><i class="fas fa-dollar-sign"></i> {{pro.price}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 py-4">
                <router-link to="/" class="mr-5 btn btn-outline-dark">Continue Shopping</router-link>
                <div v-if="isLogin">
                    <router-link to="/Login" class="btn btn-outline-dark">Login</router-link> 
                    -  or Enter Your Information Below To Get Started
                </div>
                 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <span>BILLING INFORMATION</span>
                    <div class="row">
                        <div class="col-md-12 p-4">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Name</label>
                                            <input type="text" class="form-control"   aria-describedby="emailHelp"> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Address</label>
                                            <input type="text" class="form-control"   aria-describedby="emailHelp" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">State</label>
                                            <input type="email" class="form-control"   aria-describedby="emailHelp" >
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Coutry</label>
                                            <input type="email" class="form-control"   aria-describedby="emailHelp" >
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Credit card number</label>
                                             <input type="password" class="form-control"   >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Credit Card Expiration date (Month and Year)</label>
                                             <input type="password" class="form-control"   >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Credit Card CVV (Verification Number)</label>
                                             <input type="password" class="form-control"   >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <span>SHIPPING INFORMATION</span>
                    <div class="row">
                        <div class="col-md-12 p-4">
                            <input type="checkbox" name="" id="" v-model="checked">  SHIPPING IS DIFFERENT THAN BILLING ADDRESS
                            <form v-show="checked">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Name</label>
                                            <input type="text" class="form-control"   aria-describedby="emailHelp"> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Address</label>
                                            <input type="text" class="form-control"   aria-describedby="emailHelp" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">State</label>
                                            <input type="email" class="form-control"   aria-describedby="emailHelp" >
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Coutry</label>
                                            <input type="email" class="form-control"   aria-describedby="emailHelp" >
                                            
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
               checked: false,
               subtotal: 0,
               isLogin: false,
            }
        },
        mounted() {
            // Verify if the token exist 
            this.isLogedin = (localStorage.token) ?  false : true;
        },
        methods: {
            
        }
    }
</script>
<style scoped lang="scss">
    .card{
        border: 1px solid black;
        > span{
            color: white;
            background-color: black;    
            width: 100%;
            display: block;
            padding: 10px;
        }
        table{
            th{
                text-align: left;
                width: 15%;
            }
            :nth-child(2n) {
                width: 55%;
            }
        }
        .subtotal, .iva, .total{
            font-size: 25px;
        }
    }
</style>