<template>
    <div class="container" id="product">
        <div class="row">
            <div class="col-md-4">
                <img src="https://icon2.cleanpng.com/20180425/dye/kisspng-computer-icons-5ae02031842f76.4695991715246377455414.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-md-4 px-5">
                <h2>{{product.name}}</h2>
                <div class="starts">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="reviews">
                    <span class="text-primary"><u>0 Reviews</u></span>
                    <button type="button" class="btn btn-link"><i class="fas fa-plus"></i> Add a review</button>
                </div>
                <div class="price">
                    <span> <i class="fas fa-dollar-sign"> {{product.price}} </i></span>
                </div>
                <div class="addButtons">
                    <button class="btn btn-primary" @click="addProduct(product)">Add to cart</button>
                    <router-link to="/checkout" class="btn btn-success">Check Out</router-link>
                </div>
                <div class="description my-3">
                    <div class="card">
                        <div class="card-body">
                            {{product.description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="https://icon2.cleanpng.com/20180425/dye/kisspng-computer-icons-5ae02031842f76.4695991715246377455414.jpg" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Manual</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Details</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">More Info</a>
                    </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active bg-white p-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <p class="text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis bibendum nisl. Aliquam vehicula libero ac erat gravida, a pulvinar ligula cursus. Quisque ut augue dapibus, semper nisi eu, faucibus sapien. Proin aliquam erat vitae iaculis dignissim. Morbi volutpat convallis orci, placerat ultricies libero interdum nec. Pellentesque condimentum non neque id lobortis. Sed porta augue tellus, vel gravida risus lacinia ac. Vestibulum tincidunt tristique dui eget tristique. Integer ornare est urna, quis imperdiet sem porta vestibulum. Vestibulum ultricies libero nisi, in viverra justo rhoncus nec. Sed eget erat aliquet, vestibulum ipsum vitae, viverra enim. Vivamus sapien nulla, efficitur vitae scelerisque vitae, pharetra nec justo. In varius dolor consectetur ipsum lobortis, ac viverra nibh sollicitudin. <br><br>

                                In elementum sodales metus a fermentum. Curabitur varius eros nibh, sit amet ullamcorper ligula lobortis eu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vel lacus id neque efficitur rutrum. Duis dolor dolor, efficitur ut elementum a, pretium interdum nisl. Nulla sollicitudin accumsan risus, id pulvinar risus interdum quis. Integer in risus eu velit iaculis rutrum. Nullam nibh nibh, euismod fermentum placerat quis, efficitur id nisl. Ut ac faucibus ligula. Praesent blandit interdum lobortis. Nam eget lectus id odio congue malesuada ac vel mauris. Praesent iaculis nisl id egestas egestas. <br><br>

                                Suspendisse lobortis lacus sit amet tempor vulputate. Phasellus efficitur tellus mattis facilisis volutpat. Morbi rutrum leo diam, a eleifend ex mollis quis. Vivamus condimentum sollicitudin dui, ut rhoncus nunc fermentum a. Integer mattis felis justo, ut ultrices est pretium non. Praesent imperdiet turpis nec risus sollicitudin, vitae convallis risus egestas. Integer tristique tellus mi, ac malesuada dolor molestie sed. Nullam vel metus pharetra, ultrices velit in, facilisis ligula. Nunc pretium arcu vitae est dictum vestibulum. Nulla facilisi. Etiam at malesuada lectus. Fusce varius eros sed suscipit blandit.
                            </p>
                        </div>
                        <div class="tab-pane fade bg-white p-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <p class="text-justify">
                                In elementum sodales metus a fermentum. Curabitur varius eros nibh, sit amet ullamcorper ligula lobortis eu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vel lacus id neque efficitur rutrum. Duis dolor dolor, efficitur ut elementum a, pretium interdum nisl. Nulla sollicitudin accumsan risus, id pulvinar risus interdum quis. Integer in risus eu velit iaculis rutrum. Nullam nibh nibh, euismod fermentum placerat quis, efficitur id nisl. Ut ac faucibus ligula. Praesent blandit interdum lobortis. Nam eget lectus id odio congue malesuada ac vel mauris. Praesent iaculis nisl id egestas egestas. <br> <br>

                                Suspendisse lobortis lacus sit amet tempor vulputate. Phasellus efficitur tellus mattis facilisis volutpat. Morbi rutrum leo diam, a eleifend ex mollis quis. Vivamus condimentum sollicitudin dui, ut rhoncus nunc fermentum a. Integer mattis felis justo, ut ultrices est pretium non. Praesent imperdiet turpis nec risus sollicitudin, vitae convallis risus egestas. Integer tristique tellus mi, ac malesuada dolor molestie sed. Nullam vel metus pharetra, ultrices velit in, facilisis ligula. Nunc pretium arcu vitae est dictum vestibulum. Nulla facilisi. Etiam at malesuada lectus. Fusce varius eros sed suscipit blandit.
                                <br><br>

                                Nulla id semper tortor. Donec ut nisl in mi vulputate dictum. Quisque eget urna imperdiet, convallis sem a, vestibulum libero. Proin ut sollicitudin sem. Sed ornare risus turpis, a semper neque fermentum sed. Praesent egestas, urna id tempus consequat, lacus lectus fringilla leo, at volutpat nisl nibh et tortor. Morbi finibus arcu sed ex vestibulum suscipit. Vivamus sagittis, diam eu dignissim tincidunt, orci mauris tristique erat, accumsan ultrices elit tortor id dui. Curabitur luctus ullamcorper arcu. Etiam ac sagittis purus. Nam vehicula ornare condimentum. Proin efficitur, libero et aliquam tempus, felis leo ultrices urna, nec imperdiet est mauris nec lectus. Nulla lacinia sodales justo sit amet efficitur. Donec tincidunt congue lobortis. Duis quis vulputate justo. <br><br>

                                Maecenas velit orci, tristique ac orci ut, ornare rhoncus nunc. Donec sed lacus id odio commodo elementum sit amet at ex. Donec blandit erat ac ipsum vulputate hendrerit. Maecenas tempor leo turpis, non hendrerit urna hendrerit in. Vestibulum accumsan sapien ac laoreet aliquam. Sed suscipit a felis scelerisque viverra. Suspendisse potenti. Quisque sed metus sem.
                            </p>
                        </div>
                        <div class="tab-pane fade bg-white p-3" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    A list item
                                    <span class="badge badge-primary badge-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    A second list item
                                    <span class="badge badge-primary badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    A third list item
                                    <span class="badge badge-primary badge-pill">1</span>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                product: {},
            }
        },
        created() {
            this.url_data=this.$route.params.slug;
            this.list();
        },
        methods: {
            async list (){
                await axios.post('http://localhost:8000/api/products/slug', {slug: this.url_data}).
                then((res) => this.product = res.data); //TODO fix url to endpoint 
            },
            // Add a new product 
            addProduct(product) {
                this.$store.state.product = product;
                this.$store.dispatch('addProductAction');
            },
        }
    }
</script>
<style lang="scss">
    #product{
        .price{
            font-size: 24px;
            color: black;
            margin: 25px 0;    
        }
        .addButtons{
            .add{
                background-color: #e7a428;
                color: white;
                border: 2px solid #e7a428;
                padding: 9px;
                font-size: 24px;
                &:hover{
                    background-color: white;
                    color: #e7a428;
                    border: 2px solid #e7a428;
                }
            }
            .check{
                background-color: #3C8162;
                color: white;
                border: 2px solid #3C8162;
                padding: 9px;
                font-size: 24px;
                &:hover{
                    background-color: white;
                    color: #3C8162;
                    border: 2px solid #3C8162;
                }
            }
        }
    }
</style>
