<template>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Login</div>

                <div class="card-body">
                    <form method="POST" v-on:submit.prevent="login">

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" value="" required autocomplete="email" autofocus v-model="request.email">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" required autocomplete="current-password" v-model="request.password">
                                <span  class="text-center d-block" role="alert">
                                    <strong>{{ error_msg }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                            </div>
                        </div>
                        <router-link to="/register" class="btn btn-link" >Create a new Account</router-link>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>

    export default {
        data(){
            return {
                request: {
                    email: "",
                password: "",
                },
                error: false,
                error_msg: ""
            }
        },
        created() {
           
        },
        methods: {
           login(){
               // Send a request to api and verify the info of the user 
                
                axios.post('api/login', this.request)
                .then(response => {
                    console.log(response) // TODO Validate error fron login
                    if(response.data.token){
                        localStorage.setItem('token', response.data.token); // if the login success create a token to varify of the user is login 
                        window.location.href = '/admin';
                    }else{
                        this.error_msg = response.data.msg // Show the error of the login request
                    }
                }).catch(function (error) {
                    this.error_msg = 'User or password incorrect';
                })
            }
        }
    }
</script>
<style scoped lang="scss">

</style>
