<template>
    <div class="container">
        <h1 class="text-center">Products List</h1>
        <hr>
        <div class="row">
            <div class="col-md-4 my-4" v-for="pro in products" :key="pro.id">
                <div class="card">
                    <img src="https://icon2.cleanpng.com/20180425/dye/kisspng-computer-icons-5ae02031842f76.4695991715246377455414.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-justify">
                        <router-link class="card-title text-center btn-block" :to="{path: 'products/' + pro.slug, params: {slug: pro.slug}}">
                            {{pro.name}}
                        </router-link>
                        <p class="card-text">{{pro.description}}</p>
                        <button class="btn btn-primary btn-lg btn-block" @click="addProduct(pro)">Add to cart</button> <!-- TODO convert button to router link vue-->
                        <router-link  class="btn btn-link text-center btn-block" :to="{path: 'products/' + pro.slug, params: {slug: pro.slug}}">See details</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                products: [],
                amigo: ''
            }
        },
        created() {
            this.list();
        },
        methods: {
            // List all the Products in the data abse
            async list (){
                const res = await axios.get('api/products');
                this.products = res.data;
            },
            // Add a new product 
            addProduct(product) {
                this.$store.state.product = product;
                this.$store.dispatch('addProductAction');
            },
        }
    }
</script>
<style scoped lang="scss">
    .card-text{
        min-height: 115px;
    }
</style>