<template>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Register</div>

                <div class="card-body">
                    <form method="POST" v-on:submit.prevent="login">
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control " name="name" value="" required autocomplete="name" v-model="request.name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control " name="email" value="" required  v-model="request.email">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" required v-model="request.password">
                                <span  class="text-center d-block" role="alert">
                                    <strong>{{ error_msg }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary" @click="register()">
                                    Register
                                </button>
                            </div>
                        </div>
                         <router-link to="/login" class="btn btn-link" >Login</router-link>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    export default {
        data(){
            return {
                request: {
                    name: "",
                    email: "",
                password: "",
                },
                error_msg: "",
            }
        },
        mounted() {

        },
        methods: {
            register(){
                axios.post('api/register', this.request)
                .then(response => {
                    if(response.data.token){
                        localStorage.setItem('token', response.data.token); // if the login success create a token to varify of the user is login 
                        window.location.href = '/admin';
                    }
                }).catch(function (error) {
                    this.error_msg = 'Error at the momento of register user';
                })
            }
        }
    }
</script>
<style scoped lang="scss">

</style>